* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
  }

  .bttn-container {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 0.25em;
    margin: 0.5em;
    border: 0.25em solid;
    border-color: var(--main-black);
}

.bttn-container:hover {
    background-color: var(--main-red);
    color: var(--main-white);
}

.bttn-container-2 {
    background-color: var(--main-white);
    color: var(--main-black);
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em;
}

.bttn-container-2:hover {
    background-color: var(--main-blue);
    color: var(--main-white);
}

.App {
    height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
    background-color: var(--main-blue);
    color: var(--main-white);

    --main-black: #000000;
    --main-blue: #05243b;
    --main-purple: #813772;
    --main-red: #b82601;
    --main-green: rgb(13, 149, 13);
    --main-white: #e6e7dc;
}
