.displayer-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 10px;
}

.header-tape{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.display-current-index {
    color: var(--main-red);
    text-decoration: underline;
}

.display-next-index {
    color: var(--main-purple);
}

#return-tape {
    color: var(--main-green);
}
