.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.display-button-container {
    display: flex;
    justify-content: center;
}

.display-button {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 0.25em;
    margin: 0.5em;
    height: 2.5em;
    width: 20em;
    border: 0.25em solid;
    border-color: var(--main-black);
}

.display-button:hover {
    background-color: var(--main-red);
    color: white;
}
