.primer-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    color: var(--main-white)
}

#primer-title {
    text-align: center;
    text-decoration: var(--main-red) underline 3px;
}

.valid-wrapper {
    text-align: center;
}

.primer-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.primer-button {
    background-color: var(--main-purple);
    color: var(--main-white);
    border: none;
    border-radius: 4px;
    padding: 0.25em;
    margin: 0.5em;
    height: 2.5em;
    border: 0.25em solid;
    border-color: var(--main-black);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.primer-button:hover {
    background-color: var(--main-red);
    color: var(--main-white);
}

#not-valid-display{
    color: var(--main-red);
    font-weight: bold;
}

#is-valid-display{
    color: var(--main-green);
    font-weight: bold;
}

#info-link-container {
    margin: 1em;
    text-align: center;

}

#info-link-container a {
    background-color: var(--main-white);
    font-size: medium;
    color: var(--main-black);
    border: none;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em;
}

#info-link-container a:hover {
    background-color: var(--main-black);
    color: var(--main-white);
}