.state-form-container {
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

}

#display-state {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#current-state {
    text-decoration: underline var(--main-green) 2px;
}

#state-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#state-info {
    background-color: var(--main-purple);
    border-radius: 100%;
    border: 3px solid var(--main-black);
    color: var(--main-white);
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    margin: .25em;
    font-size: 1em;
}

#state-info-dropdown {
    display: none;
}

#state-info:hover #state-info-dropdown{
    display: block;
}


#state-form label {
    display: flex;
    align-items: center;
}

#state-form input {
    font-size: large;
}

#state-form label input {
    width: 12em;
    height: 2em;
    font-size: large;
}

#state-info-dropdown {
    position: absolute;
    display: none;
    top: 105%;
    background-color: var(--main-white);
    border-radius: 4px;
    color: var(--main-black);
    width: 22vw;
    padding: 0.25em;
}

#state-info-dropdown::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    right: 45%; 
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-white) transparent;
  }